<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
  <add name="Platforme" connectionString="Data Source=.\(localdb)\ProjectsV13(SQL Server 13.0.4001-DESKTOP-PU4J8RE\Zoran);Initial Catalog=Platforme;Integrated Security=True;"/>
</connectionStrings>
</configuration>